    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="stylesheets/style.css">
        <title>About</title>
    </head>
    <body>
        <header>
            <div>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/works">Works</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <button><a href="https://www.facebook.com/cantarinhas/" class="fa fa-facebook" target="_blank"></a></button>
                </ul>
            </div>
        </header>
        <h1>Rancho Cantarinhas de Barro</h1>
        <p>Rancho Cantarinhas de Barro, is traditional Portuguese dance from the municipality of mafra!</p> 
        <p>It has been in existence for 60 years, and has many young people keeping the tradition alive.</p>
        <div class="image"><img src="../images/12036510_977704168962805_8427267773126188314_n.jpg" alt="Rancho Cantarinhas de Barro" width="50%"></div>
    </body>
    </html>