<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Gallery</title>
</head>
<body>
    <header>
        <div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <button><a href="https://www.facebook.com/cantarinhas/" class="fa fa-facebook" target="_blank"></a></button>
            </ul>
        </div>
    </header>
    
    <h1>Gallery</h1>
    
    <div class="gallery">
        <img src="../images/72944051_2607162116016994_1461769600680067072_n.jpg" alt="Danca">
        <img src="../images/12036510_977704168962805_8427267773126188314_n.jpg" alt="Rancho">
        <img src="../images/72941975_2607164519350087_3428909882613432320_n.jpg" alt="Musicos">
        <img src="../images/10891860_977704868962735_2495934930158419521_n.jpg" alt="Casa do Rancho">
        <img src="../images/18301325_1426918837374667_6594573358860262212_n.jpg" alt="Par">
        <img src="../images/66780144_2437986126267928_1054547645218947072_n.jpg" alt="Danca">
        <img src="../images/72225399_2607165566016649_5935655622094618624_n.jpg" alt="Estandarte">
        <img src="../images/71946319_2607165596016646_8165663733792636928_n.jpg" alt="Cantarinhas de Barro">
        <img src="../images/73024534_2607166329349906_4436865701130534912_n.jpg" alt="Par Danca">
    </div>
</body>
</html>