<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <button><a href="https://www.facebook.com/cantarinhas/" class="fa fa-facebook" target="_blank"></a></button>
            </ul>
        </div>
    </header>
    <h1>WELCOME</h1>
    <h2>to Rancho Cantarinhas de Barro website</h2>
    <p>Let's learn more about this traditional Portuguese dance!</p>
    <div class="img1">
    <img src="../images/71946319_2607165596016646_8165663733792636928_n.jpg" alt="Cantarinhas de Barro" width="30%">
    </div>
</body>
</html>