<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Works</title>
</head>
<body>
    <header>
        <div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <button><a href="https://www.facebook.com/cantarinhas/" class="fa fa-facebook" target="_blank"></a></button>
            </ul>
        </div>
    </header>
    
    <h3>Calendar</h3>
    
    <h4>Traditional parties at small towns, villages, cities, inside and out of Portugal!</h4>

    <p class="text">Next Performance</p>
    <div class="img2">
    <img src="../images/Cartaz-Festas-Achada-2022.png" alt="next performance">
    </div>
</body>
</html>